.mDiv {
    margin-top: 20px;
    padding: 20px 0px;
    background-color: lightgrey;
}

.titlePtag {
    font-size: 26px;
    font-family: ManropeExtraBold;
    text-align: center;
    margin-bottom: 25px;
}

.CarsPricemDiv {
    display: flex;
    font-display: row;
    justify-content: space-evenly;
    align-items: center;
}