.Dd2mDiv {
    display: none;
}

@media only screen and (max-width: 1050px) {
    .Dd2mDiv {
        display: flex;
        position: absolute;
        padding: 1% 2% 1% 2%;
        background-color: white;
        left: 0px;
        top: 8%;
        z-index: 2;
        width: 90%;
    }
    .ulP,
    .rowDivs ul {
        list-style-type: none;
    }
    .ulP li {
        margin: 8% 0%;
        font-weight: bold;
    }
    .mDiv {
        width: auto;
        background-color: white;
        margin: 5% 0% 0% 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .rowDivs {
        margin: 0px 12% 0px 0px;
    }
    .rowDivs ul li {
        font-weight: 400;
    }
    .sd1 {
        display: none;
    }
    .sd2 {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .mDiv {
        flex-direction: column;
    }
}