@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../Manrope/static/Manrope-ExtraBold.ttf);
}

.mDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.MoboUlTag {
    list-style-type: none;
}

.pTagHead {
    font-family: ManropeExtraBold;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

.MoboUlTag li {
    margin-bottom: 5px;
}