@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../Manrope/static/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: ManropeMedium;
    src: url(./../../Manrope/static/Manrope-Medium.ttf);
}

.mDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.MoboUlTag {
    list-style-type: none;
}

.pTagHead {
    font-family: ManropeExtraBold;
    font-size: 1.4rem;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
}

.MoboUlTag li {
    font-family: ManropeMedium;
    font-size: 1rem;
    margin-bottom: 8px;
}

@media only screen and (max-width: 700px) {
    .mDiv {
        flex-direction: column;
    }
    .Div1,
    .Div2,
    .Div3 {
        margin-left: 10%;
    }
    .MoboUlTag {
        margin-left: 10%;
        margin-bottom: 20px;
    }
}