.NavmDiv {
    height: 53px;
    box-shadow: 2px 2px 10px #cecece;
}

.NavmDiv,
.TitleandSubtileDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.TitleandSubtileDiv {
    width: 80%;
}

.ulDiv {
    width: 80%;
}

#Dd {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#Dd li {
    list-style-type: none;
}

.IconsDiv {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}