.mDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.HamBurger {
    /* background-color: red; */
    width: 44px;
    margin: 1%;
}

.burger1,
.burger2,
.burger3 {
    height: 3px;
    background-color: black;
}

.burger1 {
    margin-bottom: 5px;
    width: 100%;
}

.burger2 {
    margin-bottom: 5px;
    width: 75%;
}

.burger3 {
    width: 50%;
}