@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../../Manrope/static/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: ManropeRegular;
    src: url(./../../../Manrope/static/Manrope-Regular.ttf);
}

.h1 {
    font-family: ManropeExtraBold;
}

.conMDiv {
    width: 100%;
    padding: 30px 0px;
}

.EmailDiv {
    font-family: ManropeRegular;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.impEmail {
    margin-left: 10px;
    padding: 7px 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    cursor: not-allowed;
}