@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../../Manrope/static/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: ManropeRegular;
    src: url(./../../../Manrope/static/Manrope-Regular.ttf);
}

@font-face {
    font-family: ManropeMedium;
    src: url(./../../../Manrope/static/Manrope-Medium.ttf);
}

.h1 {
    font-family: ManropeExtraBold;
}

.conMDiv {
    width: 100%;
    padding: 30px 0px;
}

.EmailDiv {
    font-family: ManropeRegular;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.impEmail {
    cursor: not-allowed;
}

.impEmail,
.NameInp {
    outline: none;
    margin-left: 10px;
    padding: 7px 12px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

.FormDiv {
    margin-top: 30px;
}

.FormDiv p {
    font-family: ManropeMedium;
    margin-bottom: 15px;
}

.LabelDivTag2,
.LabelDivTag1 {
    font-family: ManropeRegular;
    margin-top: 20px;
}

.FormTag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}