@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../../Manrope/static/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: ManropeRegular;
    src: url(./../../../Manrope/static/Manrope-Regular.ttf);
}