.mDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContDiv {
    background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
    backdrop-filter: blur(8px);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

.PasswordDiv,
.UsernameDiv {
    margin-top: 30px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.PasswordDiv label,
.UsernameDiv label {
    font-family: ManropeExtraBold;
    font-size: 1.2rem;
    width: 100%;
}

.PasswordDiv input,
.UsernameDiv input {
    width: 80%;
    font-family: ManropeExtraBold;
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

.LoginBtn {
    margin-top: 30px;
}