.mDiv {
    margin-top: 30px;
}

.MapPDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

.MapMDiv {
    margin-bottom: 30px;
    width: 30%;
}

.ImgSrc {
    border-radius: 10px;
    width: 100%;
    height: 380px;
}

.selectTag {}