@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../Manrope/static/Manrope-ExtraBold.ttf);
}

.LoginPTag {
    text-align: center;
    font-family: ManropeExtraBold;
    font-size: 2.5rem;
    margin: 40px 0px 30px 0px;
}

.contentMDiv {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Div {
    width: 80%;
    background: linear-gradient( 117.76deg, rgba(255, 255, 255, 0.7) -7.21%, rgba(255, 255, 255, 0.5) 118.08%);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 10px 20px 0 lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.LoginFormTag {
    display: flex;
    justify-content: space-evenly;
}

.passwordDiv {
    position: relative;
}

#email,
#password {
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

#email:hover,
#password:hover {
    border-color: #60b4df;
}

#email:focus,
#password:focus {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent transparent #60b4df transparent;
    box-shadow: 0px 5px 50px #c6ecff;
}

#ShowPasswordDiv {
    position: absolute;
    top: 20%;
    right: 3%;
    transition: all 0.3s;
}

.LoginBtn {
    font-family: ManropeExtraBold;
    background-color: #fff;
    border: solid 1px lightgrey;
    padding: 12px 32px;
    border-radius: 5px;
    font-size: 1rem;
    letter-spacing: 0.2px;
    color: #60b4df;
    transition: all 0.3s;
}

.LoginBtn:hover {
    border-color: #60b4df;
}

.LoginDivBTN {
    margin: 20px 0px;
    display: flex;
    justify-content: space-evenly;
}

.AlreadyPTag {
    text-align: center;
    margin-bottom: 20px;
}