.formTag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.RightFormDiv,
.LeftFormDiv {
    flex-direction: column;
}

.RightFormDiv,
.LeftFormDiv,
.LeftFormDivRowDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LeftFormDiv {
    width: 60%;
}

.LeftFormDivRowDiv {
    margin: 20px 0px;
    width: 100%;
}

.RightFormDiv {
    width: 30%;
}

.ImpTag {
    outline: none;
    margin-top: 20px;
    width: 40%;
    background-color: #fff;
    padding: 10px 15px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

.ImpTag::placeholder {
    text-transform: capitalize;
}

.ImpTag:hover {
    border-color: #f56692;
}

.ImpTag:focus {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent transparent #f34278 transparent;
}