.titleNav {
    text-decoration: none;
    color: inherit;
    font-family: MiaLove;
}

.titleNav h1 {
    font-weight: 100;
    letter-spacing: 0.12rem;
}

.headdiv {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;
    font-family: ManropeRegular;
    box-shadow: 2px 2px 50px lightgrey;
}

.h1WelAdmin {
    font-family: ManropeExtraBold;
    letter-spacing: 0.12rem;
    margin: 20px 0px 0px 20px;
}

.RightFormDiv,
.LeftFormDiv {
    flex-direction: column;
}

.RightFormDiv,
.LeftFormDiv,
.LeftFormDivRowDiv,
.formTag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LeftFormDiv {
    width: 60%;
}

.LeftFormDivRowDiv {
    margin: 20px 0px;
    width: 100%;
}

.RightFormDiv {
    width: 30%;
}

.ImpTagTextArea,
.ImpTag {
    font-family: ManropeRegular;
    outline: none;
    background-color: #fff;
    padding: 10px 15px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    font-size: 1rem;
    transition: all 0.3s;
}

.ImpTagTextArea {
    resize: none;
}

.ImpTag {
    margin-top: 20px;
    width: 40%;
}

.ImpTag::placeholder,
.ImpTagTextArea::placeholder {
    font-family: ManropeRegular;
    text-transform: capitalize;
}

.ImpTag:hover,
.ImpTagTextArea:hover {
    border-color: #f56692;
}

.ImpTag:focus,
.ImpTagTextArea:focus {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent transparent #f34278 transparent;
}