.formTag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.LeftFormDiv {
    width: 45%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.LeftFormDivRowDiv {}

.RightFormDiv {}