.MainPTag,
.SubtotalPTag {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: ManropeExtraBold;
}

.MainPTag {
    margin: 30px 0px 30px 3%;
}

.SubtotalPTag {
    margin: 30px 0px 30px 0%;
}

.RoWDiv {
    display: flex;
    justify-content: space-between;
    padding: 0px 3%;
}

.LeftDiv {
    width: 60%;
}

.RightDiv {
    width: 30%;
}

.LeftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#checkShowDiv {
    width: 100%;
}

.MapMDiv {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-bottom: 20px;
    width: 100%;
}

.MapLeftDiv {
    margin-right: 30px;
}

.MapLeftDiv,
.MapLeftDiv img {
    width: 200px;
    height: 200px;
}

.MapLeftDiv img {
    border-radius: 10px;
}

.MapRightDiv {
    width: 100%;
}

.name {
    font-weight: bold;
    font-family: ManropeExtraBold;
    border-style: solid;
    padding-bottom: 4px;
    border-width: 0px 0px 1px 0px;
    border-color: rgb(228, 228, 228);
}

.Qunatity {
    margin: 10px 0px;
    font-family: ManropeRegular;
}

.MapRowDivBottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}