.MainPTag,
.SubtotalPTag {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: ManropeExtraBold;
}

.MainPTag {
    margin: 30px 0px 30px 3%;
}

.SubtotalPTag {
    margin: 30px 0px 30px 0%;
}

.RoWDiv {
    display: flex;
    justify-content: space-between;
    padding: 0px 3%;
}

.LeftDiv {
    width: 60%;
}

.RightDiv {
    width: 30%;
}

.LeftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MapMDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MapLeftDiv,
.MapLeftDiv img {
    width: 200px;
    height: 200px;
}

.MapLeftDiv img {
    border-radius: 10px;
}