@font-face {
    font-family: ManropeLight;
    src: url(./../../../Manrope/static/Manrope-Light.ttf);
}

table {
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px 30px;
    font-family: ManropeLight;
}