.datamapPDiv {
    margin: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.nor400,
.nor600 {
    margin-bottom: 20px;
}

.nor400,
.nor600,
.nor300 {
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 10px 10px 20px lightgrey;
    display: flex;
    align-items: center;
}


/* .nor400:hover,
.nor400 img:hover,
.nor600:hover,
.nor300:hover,
.nor300 img:hover,
.nor600 img:hover {} */

.nor400 {
    width: 31.45%;
}

.nor600 {
    width: 47.17%;
}

.nor300 {
    width: 23.59%;
}

.categoryImgTag {
    width: 100%;
    border-radius: 10px;
}


/*  

*/

* {
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.paracard {
    width: 100%;
    display: block;
    padding-top: 66.66666%;
    transform-style: preserve-3d;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    border: 0px;
    background-size: 110% 110%;
    background-position: center center;
}

.dcard {
    position: relative;
    display: block;
    perspective: 500px;
    border-radius: 12px;
}

.col-md-4 {
    margin-bottom: 30px;
    width: 300px;
}

.col-md-12 .dcard {
    perspective: 3000px;
}

.frame {
    background: rgba(0, 0, 0, 0.2);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.frame:after {
    width: calc(100% - 40px);
    border: 2px solid rgba(255, 255, 255, 0.5);
    height: calc(100% - 40px);
    content: "";
    display: block;
    left: 20px;
    top: 20px;
    position: absolute;
    transform: translateZ(30px);
}

.dcard:hover .paracard .frame {
    background: rgba(0, 0, 0, 0);
}

.dcard:hover .paracard .frame:after {
    border: 2px solid rgba(255, 255, 255, 0.8);
}

h2 {
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translateZ(50px);
    text-align: center;
    font-size: 24px;
    text-shadow: 0px 0px 5px #000;
}

.trigger {
    position: absolute;
    height: 33.333333%;
    width: 33.333333%;
    display: block;
    z-index: 2;
}

.trigger:nth-child(1) {
    left: 0%;
    top: 0%;
}

.trigger:nth-child(1):hover~.paracard {
    transform: rotateY(8deg) rotateX(-5deg);
    background-position: top left;
}

.trigger:nth-child(2) {
    left: 33.333333%;
    top: 0%;
}

.trigger:nth-child(2):hover~.paracard {
    transform: rotateY(0deg) rotateX(-5deg);
    background-position: top center;
}

.trigger:nth-child(3) {
    left: 66.666666%;
    top: 0%;
}

.trigger:nth-child(3):hover~.paracard {
    transform: rotateY(-8deg) rotateX(-5deg);
    background-position: top right;
}

.trigger:nth-child(4) {
    left: 0%;
    top: 33.333333%;
}

.trigger:nth-child(4):hover~.paracard {
    transform: rotateY(8deg);
    background-position: center left;
}

.trigger:nth-child(5) {
    left: 33.333333%;
    top: 33.333333%;
}

.trigger:nth-child(5):hover~.paracard {
    transform: rotateY(0deg) rotateX(0deg);
    background-position: center center;
}

.trigger:nth-child(6) {
    left: 66.666666%;
    top: 33.333333%;
}

.trigger:nth-child(6):hover~.paracard {
    transform: rotateY(-8deg) rotateX(0deg);
    background-position: center right;
}

.trigger:nth-child(7) {
    left: 0%;
    top: 66.666666%;
}

.trigger:nth-child(7):hover~.paracard {
    transform: rotateY(8deg) rotateX(5deg);
    background-position: bottom left;
}

.trigger:nth-child(8) {
    left: 33.333333%;
    top: 66.666666%;
}

.trigger:nth-child(8):hover~.paracard {
    transform: rotateY(0deg) rotateX(5deg);
    background-position: bottom center;
}

.trigger:nth-child(9) {
    left: 66.666666%;
    top: 66.666666%;
}

.trigger:nth-child(9):hover~.paracard {
    transform: rotateY(-8deg) rotateX(5deg);
    background-position: bottom right;
}

.buttons {
    width: 100%;
}

.buttons a {
    color: #88bcf5;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    margin: 10px 20px;
}

.buttons a:hover {
    text-decoration: none;
    border-bottom: 2px solid #88bcf5;
}

@media only screen and (max-width: 575px) {
    .datamapPDiv {
        flex-direction: column;
    }
    .nor400,
    .nor600,
    .nor300 {
        width: 100%;
        height: calc(100% - 2px);
        margin-bottom: 20px;
    }
    .nor400 img,
    .nor300 img,
    .nor600 img {
        margin-bottom: 0px;
    }
}