.datamapPDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nor400,
.nor400 img {
    width: 400px;
    height: 400px;
}

.nor600,
.nor600 img {
    width: 400px;
    height: 400px;
}