.NaDivmDiv {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 350px;
    margin: 0px 16px;
    transition: all 0.4s;
}

.Img {
    width: 100%;
    height: 100%;
}

.LPDiv {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.LPDiv p {
    color: gold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.CLink {
    color: black;
    background-color: white;
    padding: 2% 8% 2% 8%;
    text-decoration: none;
    transition: all 0.4s;
}

.CLink:hover {
    box-shadow: 5px 5px 5px white;
    color: white;
    background-color: gold;
    border-radius: 1px;
}

.NaDivmDiv:hover>.LPDiv {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 300px) {
    .NaDivmDiv {
        width: 80%;
        height: 100%;
        margin: 0px 16px;
    }
}