.NamDiv {
    margin: 20px 0px 20px 0px;
    width: 100%;
    text-align: center;
}

.NamDiv h1 {
    margin-bottom: 20px;
}

.scrollmenu {
    display: grid;
}

.NamDiv .scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

.NamDiv .scrollmenu::-webkit-scrollbar {
    display: none;
}