@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../../Manrope/static/Manrope-ExtraBold.ttf);
}

.mDiv {
    margin-top: 20px;
}

.mDiv h1 {
    text-align: center;
    font-family: ManropeExtraBold;
    line-height: 1.24;
    margin-bottom: 20px;
}

.slideDiv {
    display: flex;
    justify-content: center;
    background-color: #60b4df;
}

.Hslide {
    width: 95%;
}

.ImgHeader {
    width: 98%;
    /* max-height: 392px; */
}