@font-face {
    font-family: ManropeExtraBold;
    src: url(./../../../Manrope/static/Manrope-ExtraBold.ttf);
}

.mDiv {
    margin: 20px 0px;
}

.mDiv h1 {
    text-align: center;
    font-family: ManropeExtraBold;
    line-height: 1.24;
    margin-bottom: 20px;
}

.slideDiv {
    display: flex;
    justify-content: center;
}

.Hslide {
    width: 95%;
}

.ImgHeader {
    width: 98%;
    max-height: 380px;
}

.SlidDiv {
    position: relative;
}

.ImgPTag {
    font-family: ManropeExtraBold;
    position: absolute;
    top: 50%;
    text-align: center;
    /* background-color: #60b4df; */
    width: 98%;
    color: white;
    text-shadow: 5px 5px 10px lightgrey;
}

.ShowNowATag {
    text-decoration: none;
}